## Import

In [1]:
# libraries

import pandas as pd
import numpy as np

# models

from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.svm import LinearSVC
from sklearn.linear_model import Lasso
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE

#XG boost
from sklearn import datasets
import xgboost as xgb

# other tools

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler  

import warnings

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

## Load excel file (ufc.xlsx) and print out the first couple rows

In [2]:
ufc = pd.read_excel('ufc-master.xlsx')
ufc.head(5)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,ko_dif,sub_dif,height_dif,reach_dif,age_dif,sig_str_dif,avg_sub_att_dif,avg_td_dif,empty_arena,constant_1
0,Jessica Eye,Cynthia Calvillo,120,-130,120.000000,76.923077,2020-06-13,"Las Vegas, Nevada, USA",USA,Blue,...,-1,3,-5.08,-5.08,-1,0.33,0.9,1.37,1,1
1,Karl Roberson,Marvin Vettori,210,-230,210.000000,43.478261,2020-06-13,"Las Vegas, Nevada, USA",USA,Blue,...,0,-1,-2.54,0.00,-3,0.89,-0.2,0.36,1,1
2,Charles Rosa,Kevin Aguilar,170,-185,170.000000,54.054054,2020-06-13,"Las Vegas, Nevada, USA",USA,Red,...,0,-2,-5.08,10.16,-2,0.52,-1.0,-2.11,1,1
3,Andre Fili,Charles Jourdain,-220,200,45.454545,200.000000,2020-06-13,"Las Vegas, Nevada, USA",USA,Red,...,-2,0,-5.08,-12.70,-5,0.85,-0.2,-2.49,1,1
4,Jordan Espinosa,Mark De La Rosa,-167,157,59.880240,157.000000,2020-06-13,"Las Vegas, Nevada, USA",USA,Red,...,0,1,0.00,-10.16,-5,-0.97,-0.2,-0.19,1,1

## Get number of rows and columns

In [3]:
print('Number of rows:', ufc.shape[0])
print('Number of columns:', ufc.shape[1])

Number of rows: 4304
Number of columns: 79

## Check for missing data

In [4]:
ufc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4304 entries, 0 to 4303
Data columns (total 79 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   R_fighter                     4304 non-null   object
 1   B_fighter                     4304 non-null   object
 2   R_odds                        4304 non-null   int64
 3   B_odds                        4304 non-null   int64
 4   R_ev                          4304 non-null   float64
 5   B_ev                          4304 non-null   float64
 6   date                          4304 non-null   datetime64[ns]
 7   location                      4304 non-null   object
 8   country                       4304 non-null   object
 9   Winner                        4304 non-null   object
 10  title_bout                    4304 non-null   bool
 11  weight_class                  4304 non-null   object
 12  gender                        4304 non-null   object
 13  no_of_rounds                  4304 non-null   int64
 14  B_current_lose_streak         4304 non-null   int64
 15  B_current_win_streak          4304 non-null   int64
 16  B_draw                        4304 non-null   int64
 17  B_avg_SIG_STR_landed          3355 non-null   float64
 18  B_avg_SIG_STR_pct             3523 non-null   float64
 19  B_avg_SUB_ATT                 3456 non-null   float64
 20  B_avg_TD_landed               3455 non-null   float64
 21  B_avg_TD_pct                  3444 non-null   float64
 22  B_longest_win_streak          4304 non-null   int64
 23  B_losses                      4304 non-null   int64
 24  B_total_rounds_fought         4304 non-null   int64
 25  B_total_title_bouts           4304 non-null   int64
 26  B_win_by_Decision_Majority    4304 non-null   int64
 27  B_win_by_Decision_Split       4304 non-null   int64
 28  B_win_by_Decision_Unanimous   4304 non-null   int64
 29  B_win_by_KO/TKO               4304 non-null   int64
 30  B_win_by_Submission           4304 non-null   int64
 31  B_win_by_TKO_Doctor_Stoppage  4304 non-null   int64
 32  B_wins                        4304 non-null   int64
 33  B_Stance                      4304 non-null   object
 34  B_Height_cms                  4304 non-null   float64
 35  B_Reach_cms                   4304 non-null   float64
 36  B_Weight_lbs                  4304 non-null   int64
 37  R_current_lose_streak         4304 non-null   int64
 38  R_current_win_streak          4304 non-null   int64
 39  R_draw                        4304 non-null   int64
 40  R_avg_SIG_STR_landed          3842 non-null   float64
 41  R_avg_SIG_STR_pct             3943 non-null   float64
 42  R_avg_SUB_ATT                 3943 non-null   float64
 43  R_avg_TD_landed               3943 non-null   float64
 44  R_avg_TD_pct                  3931 non-null   float64
 45  R_longest_win_streak          4304 non-null   int64
 46  R_losses                      4304 non-null   int64
 47  R_total_rounds_fought         4304 non-null   int64
 48  R_total_title_bouts           4304 non-null   int64
 49  R_win_by_Decision_Majority    4304 non-null   int64
 50  R_win_by_Decision_Split       4304 non-null   int64
 51  R_win_by_Decision_Unanimous   4304 non-null   int64
 52  R_win_by_KO/TKO               4304 non-null   int64
 53  R_win_by_Submission           4304 non-null   int64
 54  R_win_by_TKO_Doctor_Stoppage  4304 non-null   int64
 55  R_wins                        4304 non-null   int64
 56  R_Stance                      4304 non-null   object
 57  R_Height_cms                  4304 non-null   float64
 58  R_Reach_cms                   4304 non-null   float64
 59  R_Weight_lbs                  4304 non-null   int64
 60  R_age                         4304 non-null   int64
 61  B_age                         4304 non-null   int64
 62  lose_streak_dif               4304 non-null   int64
 63  win_streak_dif                4304 non-null   int64
 64  longest_win_streak_dif        4304 non-null   int64
 65  win_dif                       4304 non-null   int64
 66  loss_dif                      4304 non-null   int64
 67  total_round_dif               4304 non-null   int64
 68  total_title_bout_dif          4304 non-null   int64
 69  ko_dif                        4304 non-null   int64
 70  sub_dif                       4304 non-null   int64
 71  height_dif                    4304 non-null   float64
 72  reach_dif                     4304 non-null   float64
 73  age_dif                       4304 non-null   int64
 74  sig_str_dif                   4304 non-null   float64
 75  avg_sub_att_dif               4304 non-null   float64
 76  avg_td_dif                    4304 non-null   float64
 77  empty_arena                   4304 non-null   int64
 78  constant_1                    4304 non-null   int64
dtypes: bool(1), datetime64[ns](1), float64(21), int64(47), object(9)
memory usage: 2.6+ MB

## Check for duplicates

In [5]:
duplicates = ufc.duplicated()
ufc[duplicates]

# turns out: no duplicates

Empty DataFrame
Columns: [R_fighter, B_fighter, R_odds, B_odds, R_ev, B_ev, date, location, country, Winner, title_bout, weight_class, gender, no_of_rounds, B_current_lose_streak, B_current_win_streak, B_draw, B_avg_SIG_STR_landed, B_avg_SIG_STR_pct, B_avg_SUB_ATT, B_avg_TD_landed, B_avg_TD_pct, B_longest_win_streak, B_losses, B_total_rounds_fought, B_total_title_bouts, B_win_by_Decision_Majority, B_win_by_Decision_Split, B_win_by_Decision_Unanimous, B_win_by_KO/TKO, B_win_by_Submission, B_win_by_TKO_Doctor_Stoppage, B_wins, B_Stance, B_Height_cms, B_Reach_cms, B_Weight_lbs, R_current_lose_streak, R_current_win_streak, R_draw, R_avg_SIG_STR_landed, R_avg_SIG_STR_pct, R_avg_SUB_ATT, R_avg_TD_landed, R_avg_TD_pct, R_longest_win_streak, R_losses, R_total_rounds_fought, R_total_title_bouts, R_win_by_Decision_Majority, R_win_by_Decision_Split, R_win_by_Decision_Unanimous, R_win_by_KO/TKO, R_win_by_Submission, R_win_by_TKO_Doctor_Stoppage, R_wins, R_Stance, R_Height_cms, R_Reach_cms, R_Weight_lbs, R_age, B_age, lose_streak_dif, win_streak_dif, longest_win_streak_dif, win_dif, loss_dif, total_round_dif, total_title_bout_dif, ko_dif, sub_dif, height_dif, reach_dif, age_dif, sig_str_dif, avg_sub_att_dif, avg_td_dif, empty_arena, constant_1]
Index: []

[0 rows x 79 columns]

## Delete rows with at least 1 missing value (NaN), then check shape again

In [6]:
ufc_df = ufc.dropna()

print('Number of rows:', ufc_df.shape[0])
print('Number of columns:', ufc_df.shape[1])

Number of rows: 3243
Number of columns: 79

## Check for missing data again

In [7]:
ufc_df.info()

# we have 3244 non-null value in every column --> no missing data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3243 entries, 0 to 4303
Data columns (total 79 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   R_fighter                     3243 non-null   object
 1   B_fighter                     3243 non-null   object
 2   R_odds                        3243 non-null   int64
 3   B_odds                        3243 non-null   int64
 4   R_ev                          3243 non-null   float64
 5   B_ev                          3243 non-null   float64
 6   date                          3243 non-null   datetime64[ns]
 7   location                      3243 non-null   object
 8   country                       3243 non-null   object
 9   Winner                        3243 non-null   object
 10  title_bout                    3243 non-null   bool
 11  weight_class                  3243 non-null   object
 12  gender                        3243 non-null   object
 13  no_of_rounds                  3243 non-null   int64
 14  B_current_lose_streak         3243 non-null   int64
 15  B_current_win_streak          3243 non-null   int64
 16  B_draw                        3243 non-null   int64
 17  B_avg_SIG_STR_landed          3243 non-null   float64
 18  B_avg_SIG_STR_pct             3243 non-null   float64
 19  B_avg_SUB_ATT                 3243 non-null   float64
 20  B_avg_TD_landed               3243 non-null   float64
 21  B_avg_TD_pct                  3243 non-null   float64
 22  B_longest_win_streak          3243 non-null   int64
 23  B_losses                      3243 non-null   int64
 24  B_total_rounds_fought         3243 non-null   int64
 25  B_total_title_bouts           3243 non-null   int64
 26  B_win_by_Decision_Majority    3243 non-null   int64
 27  B_win_by_Decision_Split       3243 non-null   int64
 28  B_win_by_Decision_Unanimous   3243 non-null   int64
 29  B_win_by_KO/TKO               3243 non-null   int64
 30  B_win_by_Submission           3243 non-null   int64
 31  B_win_by_TKO_Doctor_Stoppage  3243 non-null   int64
 32  B_wins                        3243 non-null   int64
 33  B_Stance                      3243 non-null   object
 34  B_Height_cms                  3243 non-null   float64
 35  B_Reach_cms                   3243 non-null   float64
 36  B_Weight_lbs                  3243 non-null   int64
 37  R_current_lose_streak         3243 non-null   int64
 38  R_current_win_streak          3243 non-null   int64
 39  R_draw                        3243 non-null   int64
 40  R_avg_SIG_STR_landed          3243 non-null   float64
 41  R_avg_SIG_STR_pct             3243 non-null   float64
 42  R_avg_SUB_ATT                 3243 non-null   float64
 43  R_avg_TD_landed               3243 non-null   float64
 44  R_avg_TD_pct                  3243 non-null   float64
 45  R_longest_win_streak          3243 non-null   int64
 46  R_losses                      3243 non-null   int64
 47  R_total_rounds_fought         3243 non-null   int64
 48  R_total_title_bouts           3243 non-null   int64
 49  R_win_by_Decision_Majority    3243 non-null   int64
 50  R_win_by_Decision_Split       3243 non-null   int64
 51  R_win_by_Decision_Unanimous   3243 non-null   int64
 52  R_win_by_KO/TKO               3243 non-null   int64
 53  R_win_by_Submission           3243 non-null   int64
 54  R_win_by_TKO_Doctor_Stoppage  3243 non-null   int64
 55  R_wins                        3243 non-null   int64
 56  R_Stance                      3243 non-null   object
 57  R_Height_cms                  3243 non-null   float64
 58  R_Reach_cms                   3243 non-null   float64
 59  R_Weight_lbs                  3243 non-null   int64
 60  R_age                         3243 non-null   int64
 61  B_age                         3243 non-null   int64
 62  lose_streak_dif               3243 non-null   int64
 63  win_streak_dif                3243 non-null   int64
 64  longest_win_streak_dif        3243 non-null   int64
 65  win_dif                       3243 non-null   int64
 66  loss_dif                      3243 non-null   int64
 67  total_round_dif               3243 non-null   int64
 68  total_title_bout_dif          3243 non-null   int64
 69  ko_dif                        3243 non-null   int64
 70  sub_dif                       3243 non-null   int64
 71  height_dif                    3243 non-null   float64
 72  reach_dif                     3243 non-null   float64
 73  age_dif                       3243 non-null   int64
 74  sig_str_dif                   3243 non-null   float64
 75  avg_sub_att_dif               3243 non-null   float64
 76  avg_td_dif                    3243 non-null   float64
 77  empty_arena                   3243 non-null   int64
 78  constant_1                    3243 non-null   int64
dtypes: bool(1), datetime64[ns](1), float64(21), int64(47), object(9)
memory usage: 2.0+ MB

## Set data (X) and target (y)

In [ ]:
X = ufc_df[['R_Height_cms', 'B_Height_cms', 'R_Reach_cms', 'B_Reach_cms', 'R_Weight_lbs', 'B_Weight_lbs', 'R_age', 'B_age', 'R_current_win_streak', 'B_current_win_streak', 'R_avg_SIG_STR_landed', 'B_avg_SIG_STR_landed']]
y = ufc_df['Winner']

print('X shape:', X.shape)
print('y shape:', y.shape)

# now we have 3243 instances instead of 4304

## Get training and testing sets

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

print("X_train has shape", X_train.shape)
print("X_test has shape", X_test.shape)
print("y_train has shape", y_train.shape)
print("y_test has shape", y_test.shape)

## Get prediction set

In [ ]:
user_inputs = []
input_names = ['R_Height_cms', 'B_Height_cms', 'R_Reach_cms', 'B_Reach_cms', 'R_Weight_lbs', 'B_Weight_lbs', 'R_age', 'B_age', 'R_current_win_streak', 'B_current_win_streak', 'R_avg_SIG_STR_landed', 'B_avg_SIG_STR_landed']


for i in input_names:
    print(i, ':')
    user_inputs.append(input())
    print('')

## Build models

In [ ]:
# knn
knn = KNeighborsClassifier()

# neural network
mpl = MLPClassifier()

# decision tree
tree = DecisionTreeClassifier()

# random forest
forest = RandomForestClassifier()

classifiers = [knn, mpl, tree, forest]

# Scale Data

In [ ]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

## 'applyModel' function

In [ ]:
def applyModel(model,name,X_train, y_train, X_test, y_test):
    m = model.fit(X_train,y_train)
    print(name, '- Training accuracy:', m.score(X_train, y_train))
    print(name, '- Testing accuracy:', m.score(X_test, y_test))
    
    X_new = np.array([user_inputs]) 
    prediction = knn.predict(X_new) 
    print("The prediction: ", prediction)

## Train & test with the different models

In [ ]:
for c in classifiers:
    n = str(c)
    applyModel(c, n, X_train, y_train, X_test, y_test)
    print('')
    
warnings.filterwarnings("ignore")

## Play around with KNN

In [ ]:
training_accuracy = []
testing_accuracy = []
number_of_neighbors =[]
weighting_choice = []

weight_values = ['distance', 'uniform']

for n_neighbors in range(1,100):
    for weights in weight_values:
        clf = KNeighborsClassifier(n_neighbors = n_neighbors, weights = weights)
        clf.fit(X_train, y_train)
        training_accuracy.append(clf.score(X_train, y_train))
        testing_accuracy.append(clf.score(X_test, y_test))
        number_of_neighbors.append(n_neighbors)
        weighting_choice.append(weights)
      
     
combinations_sorted_knn = sorted(list(zip(number_of_neighbors, weighting_choice, training_accuracy, testing_accuracy)), key = lambda e:e[3], reverse = True)

print('Top 5 results, sorted by test accuracy:\n')
print(*combinations_sorted_knn[0:5], sep = "\n")

# save the best variables
knn_best_n_neighbors = combinations_sorted_knn[0][0]
knn_best_weights = combinations_sorted_knn[0][1]

## Play around with Neural Network

In [ ]:
train_acc = []
test_acc = []
alpha_value = []
learning_rate_value = []


alphas = (0.0001, 0.001, 0.1, 0, 1, 5, 100)
learning_rates = ('constant', 'invscaling', 'adaptive')

for a in alphas:
    for l in learning_rates:
        mpl = MLPClassifier(alpha=a, learning_rate = l)
        mpl.fit(X_train, y_train)
        train_acc.append(accuracy_score(mpl.predict(X_train), y_train))
        test_acc.append(accuracy_score(mpl.predict(X_test), y_test))
        alpha_value.append(a)
        learning_rate_value.append(l)
        

combinations_sorted_mpl = sorted(list(zip(alpha_value, learning_rate_value, train_acc, test_acc)), key = lambda e:e[3], reverse = True)

print('Top 5 results, sorted by test accuracy:\n')
print(*combinations_sorted_mpl[0:5], sep = "\n")

# save the best variables
mpl_best_alpha = combinations_sorted_knn[0][0]
mpl_best_learning_rate = combinations_sorted_knn[0][1]

## Play around with Decision Tree

In [ ]:
train_acc = []
test_acc = []
max_depth_value = []

for i in range(1,30):
    dt = DecisionTreeClassifier(max_depth = i, random_state=0)
    dt.fit(X_train, y_train)
    train_acc.append(accuracy_score(dt.predict(X_train), y_train))
    test_acc.append(accuracy_score(dt.predict(X_test), y_test))
    max_depth_value.append(i)

combinations_sorted_tree = sorted(list(zip(max_depth_value, train_acc, test_acc)), key = lambda e:e[2], reverse = True)

print('Top 5 results, sorted by test accuracy:\n   (Values: depth, training accracy, test accuracy)\n')
print(*combinations_sorted_tree[0:5], sep = "\n")

# save the best variable
tree_best_max_depth = combinations_sorted_tree[0][0]

## Play around with Random Forest

In [ ]:
train_acc = []
test_acc = []
max_depth_value = []
criterion_value = []
max_features_value = []

criterions = ('gini', 'entropy')
number_of_features = range(1,6)

for i in range(1,9):
    for c in criterions:
        for f in number_of_features:
                rf = RandomForestClassifier(criterion = c, max_depth = i, max_features = f, random_state=0)
                rf.fit(X_train, y_train)
                train_acc.append(accuracy_score(rf.predict(X_train), y_train))
                test_acc.append(accuracy_score(rf.predict(X_test), y_test))
                max_depth_value.append(i)
                criterion_value.append(c)
                max_features_value.append(f)

combinations_sorted_forest = sorted(list(zip(max_features_value, criterion_value, max_depth_value, train_acc, test_acc)), key = lambda e:e[3], reverse = True)

print('Top 5 results, sorted by test accuracy:\n   (Values: depth, training accracy, test accuracy)\n')
print(*combinations_sorted_forest[0:5], sep = "\n")

# save the best variable

## *Here we should try XGBoost too*

In [8]:
#First we create dummy variables. 
# create dataset
df = pd.DataFrame(ufc_df)
  
# display dataset
print(df)
  
# create dymmy variables
df.drop(["R_fighter", "B_fighter", "location", "country"], axis=1)
df = pd.get_dummies(df)

df.head()

            R_fighter             B_fighter  R_odds  B_odds        R_ev  \
0         Jessica Eye      Cynthia Calvillo     120    -130  120.000000
1       Karl Roberson        Marvin Vettori     210    -230  210.000000
2        Charles Rosa         Kevin Aguilar     170    -185  170.000000
3          Andre Fili      Charles Jourdain    -220     200   45.454545
4     Jordan Espinosa       Mark De La Rosa    -167     157   59.880240
...               ...                   ...     ...     ...         ...
4296   Alessio Sakara           James Irvin    -120     100   83.333333
4297       Clay Guida       Shannon Gugerty    -420     335   23.809524
4298   Eliot Marshall  Vladimir Matyushenko     145    -165  145.000000
4301   Brendan Schaub         Chase Gormley    -260     220   38.461538
4303     Eric Schafer           Jason Brilz     140    -160  140.000000

            B_ev       date                   location country Winner  ...  \
0      76.923077 2020-06-13     Las Vegas, Nevada, USA     USA   Blue  ...
1      43.478261 2020-06-13     Las Vegas, Nevada, USA     USA   Blue  ...
2      54.054054 2020-06-13     Las Vegas, Nevada, USA     USA    Red  ...
3     200.000000 2020-06-13     Las Vegas, Nevada, USA     USA    Red  ...
4     157.000000 2020-06-13     Las Vegas, Nevada, USA     USA    Red  ...
...          ...        ...                        ...     ...    ...  ...
4296  100.000000 2010-03-21  Broomfield, Colorado, USA     USA    Red  ...
4297  335.000000 2010-03-21  Broomfield, Colorado, USA     USA    Red  ...
4298   60.606061 2010-03-21  Broomfield, Colorado, USA     USA   Blue  ...
4301  220.000000 2010-03-21  Broomfield, Colorado, USA     USA    Red  ...
4303   62.500000 2010-03-21  Broomfield, Colorado, USA     USA   Blue  ...

      ko_dif sub_dif height_dif  reach_dif  age_dif  sig_str_dif  \
0         -1       3      -5.08      -5.08       -1     0.330000
1          0      -1      -2.54       0.00       -3     0.890000
2          0      -2      -5.08      10.16       -2     0.520000
3         -2       0      -5.08     -12.70       -5     0.850000
4          0       1       0.00     -10.16       -5    -0.970000
...      ...     ...        ...        ...      ...          ...
4296       0       0       5.08       7.62       -3   -15.550000
4297      -1       1       7.62       2.54        0   -22.350000
4298       1      -1      -5.08      -7.62      -10    -4.833333
4301       0       0      -2.54      -2.12        0    -4.000000
4303       0      -2     -10.16     -10.16       -2    16.000000

      avg_sub_att_dif  avg_td_dif  empty_arena  constant_1
0            0.900000    1.370000            1           1
1           -0.200000    0.360000            1           1
2           -1.000000   -2.110000            1           1
3           -0.200000   -2.490000            1           1
4           -0.200000   -0.190000            1           1
...               ...         ...          ...         ...
4296         0.125000   -1.000000            0           1
4297         0.650000   -2.150000            0           1
4298        -0.500000    2.166667            0           1
4301         1.000000    1.000000            0           1
4303        -0.666667    0.833333            0           1

[3243 rows x 79 columns]

,R_odds,B_odds,R_ev,B_ev,date,title_bout,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,...,gender_FEMALE,gender_MALE,B_Stance_Open Stance,B_Stance_Orthodox,B_Stance_Southpaw,B_Stance_Switch,R_Stance_Open Stance,R_Stance_Orthodox,R_Stance_Southpaw,R_Stance_Switch
0,120,-130,120.000000,76.923077,2020-06-13,False,5,0,2,1,...,1,0,0,1,0,0,0,1,0,0
1,210,-230,210.000000,43.478261,2020-06-13,False,3,0,2,1,...,0,1,0,0,1,0,0,0,1,0
2,170,-185,170.000000,54.054054,2020-06-13,False,3,2,0,0,...,0,1,0,1,0,0,0,0,0,1
3,-220,200,45.454545,200.000000,2020-06-13,False,3,0,1,0,...,0,1,0,0,0,1,0,1,0,0
4,-167,157,59.880240,157.000000,2020-06-13,False,3,3,0,0,...,0,1,0,1,0,0,0,1,0,0

In [10]:
X = df[['R_Height_cms', 'B_Height_cms', 'R_Reach_cms', 'B_Reach_cms', 'R_Weight_lbs', 'B_Weight_lbs', 'R_age', 'B_age', 'R_current_win_streak', 'B_current_win_streak', 'R_avg_SIG_STR_landed', 'B_avg_SIG_STR_landed']]
y = df['Red']

KeyError: 'Red'

In [ ]:
D_train = xgb.DMatrix(X_train, label=y_train)
D_test = xgb.DMatrix(X_test, label=y_test)

## Best combinations with each model

# print('KNN:', combinations_sorted_knn[0])
print('Neural Network:', combinations_sorted_mpl[0])
print('Decision Tree:', combinations_sorted_tree[0])
print('Random Forest:', combinations_sorted_forest[0])

# for now, neural network model has the highest test accuracy